@{
    ViewData["Title"] = "Matrix Synthesis";
}
@section stylesheets
{
  <link rel="stylesheet" href="~/css/matrix/topology.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/matrix/matrixInformation.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/matrix/matrix.css" asp-append-version="true" />
}
@section scripts
{
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script data-main="js/matrix/matrix" src="~/js/requirejs.js" asp-append-version="true"></script>
  <script src="lib/numericjs/numeric.js"></script>
}

<div class="sub-header">
    <h2>@ViewData["Title"].</h2>
    <p class="text-success">@ViewData["StatusMessage"]</p>
</div>

<div class="row">
    <div class="col-xs-4">
        <div class="row">
            <div class="col-xs-12" style="display:none;">
                <input id="btn__save-project" type="button" class="btn btn-primary col-xs-12" value="Save Project"/>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="setting-items-container pull-left">
        <div class="panel panel-default">
            <div class="panel-heading setting-item-menu" data-id="filter-information">
                <h3 class="panel-title">Filter Information</h3>
            </div>
            <div class="panel-heading setting-item-menu" data-id="tuning-parameters">
                <h3 class="panel-title">Capture Tuning</h3>
            </div>
            <div class="panel-heading setting-item-menu" data-id="specification-input">
                <h3 class="panel-title">Specification Input</h3>
            </div>
            <div class="panel-heading setting-item-menu" data-id="user-settings">
                <h3 class="panel-title">User Settings</h3>
            </div>
        </div>
    </div>
    <div id="forms" class="forms pull-left" style="display:none">
        <div class="panel panel-default setting-item-content" id="filter-information" style="display:none;">
            <div class="panel-body">
                <form class="form">
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <span class="input-group input-group-sm col-xs-12">
                                <span class="input-group-addon freq-label">Filter Order:</span>
                                <input id="filter-order" class="form-control input-sm" type="number" step="1" min="1" max="20" />
                            </span>                                
                            <span class="input-group input-group-sm col-xs-12">
                                <span class="input-group-addon freq-label">Start Freq:</span>
                                <input id="filter-f1" class="form-control input-sm" type="number" step="0.0001"/>
                                <span class="input-group-addon fband">GHz</span>
                            </span>                                
                            <span class="input-group input-group-sm col-xs-12">
                                <span class="input-group-addon freq-label">Stop Freq:</span>
                                <input id="filter-f2" class="form-control input-sm" type="number" step="0.0001"/>
                                <span class="input-group-addon fband">GHz</span>
                            </span>                                
                            <span class="input-group input-group-sm col-xs-12">
                                <span class="input-group-addon freq-label">Center Freq:</span>
                                <input id="filter-f0" class="form-control input-sm" type="number" step="0.0001"/>
                                <span class="input-group-addon fband">GHz</span>
                            </span>                                
                            <span class="input-group input-group-sm col-xs-12">
                                <span class="input-group-addon freq-label">Bandwidth:</span>
                                <input id="filter-bw" class="form-control input-sm" type="number" step="0.0001"/>
                                <span class="input-group-addon fband">GHz</span>
                            </span>                                
                        </div>
                    </div>
                    <div class="row">                         
                        <div class="form-group col-xs-12">
                            <span class="input-group input-group-sm">
                                <span id='mi__qu--input-label' class="input-group-addon freq-label" disabled>Qu:</span>
                                <input id='mi__qu--input' placeholder="infinity" class="form-control input-sm" type="number"/>
                                <span id='mi__qu--input-info' class="input-group-addon" style="display:none"><span class="glyphicon glyphicon-exclamation-sign"></span></span>
                            </span>                                
                        </div>
                    </div>                        
                </form>
                <hr/>
                <form class="form">
                    <div class="row">
                        <div id="sort-of-zeros-container" class="form-group col-xs-12">
                            <div>
                                <div>
                                    <span id='fi__zero-freq--f1-label' disabled>Zero Frequencies</span>
                                </div>
                            </div>
                            <div id="sort-of-zeros" class="item-inputs">
                                <span class="input-group input-group-sm">
                                    <input id='fi__zero-freq--f1-r' class="form-control" data-type="real" type="number" step="0.1" placeholder="real"/>
                                    <span class="input-group-addon"></span>
                                    <input id='fi__zero-freq--f1-i' class="form-control" data-type="imaginary" type="number" step="0.1" placeholder="imaginary"/>
                                    <span id='fi__zero-freq--f1-handle' class="input-group-addon" disabled><span class="glyphicon glyphicon-sort grabbable"></span></span>
                                </span>          
                            </div>               
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default setting-item-content" id="tuning-parameters" style="display:none">
            <div class="panel-body">
                <form class="form">
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <div>
                                Capture From:
                            </div>
                            <span class="input-group input-group-sm col-xs-12">
                                <input id="tp__capture-from" class="form-control input-sm" type="number" step="0.0001" placeholder="auto"/>
                                <span class="input-group-addon fband">GHz</span>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <div>
                                Capture To:
                            </div>
                            <span class="input-group input-group-sm col-xs-12">
                                <input id="tp__capture-to" class="form-control input-sm" type="number" step="0.0001" placeholder="auto"/>
                                <span class="input-group-addon fband">GHz</span>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default setting-item-content" id="specification-input" style="display:none">
            <div class="panel-body">
                <form class="form">
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <div>
                                <span class="specification-input__title">RL &lt;</span>
                                <span class="input-group input-group-sm col-xs-7 pull-right">
                                    <input id="si-rl__db" class="form-control input-sm" type="number" step="0.0001" placeholder=""/>
                                    <span class="input-group-addon" style="width:35px;">dB</span>
                                </span>
                            </div>
                            <span class="input-group input-group-sm col-xs-12">
                                <input id="si-rl__capture-from" class="form-control input-sm" type="number" step="0.0001" placeholder="from"/>
                                <span class="input-group-addon fband">GHz</span>
                            </span>
                            <span class="input-group input-group-sm col-xs-12">
                                <input id="si-rl__capture-to" class="form-control input-sm" type="number" step="0.0001" placeholder="to"/>
                                <span class="input-group-addon fband">GHz</span>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <div>
                                <span class="specification-input__title">IL &lt;</span>
                                <span class="input-group input-group-sm col-xs-7 pull-right">
                                    <input id="si-il__db" class="form-control input-sm" type="number" step="0.0001" placeholder=""/>
                                    <span class="input-group-addon" style="width:35px;">dB</span>
                                </span>
                            </div>
                            <span class="input-group input-group-sm col-xs-12">
                                <input id="si-il__capture-from" class="form-control input-sm" type="number" step="0.0001" placeholder="from"/>
                                <span class="input-group-addon fband">GHz</span>
                            </span>
                            <span class="input-group input-group-sm col-xs-12">
                                <input id="si-il__capture-to" class="form-control input-sm" type="number" step="0.0001" placeholder="to"/>
                                <span class="input-group-addon fband">GHz</span>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <div>
                                <span class="specification-input__title">Iso1 &lt;</span>
                                <span class="input-group input-group-sm col-xs-7 pull-right">
                                    <input id="si-iso1__db" class="form-control input-sm" type="number" step="0.0001" placeholder=""/>
                                    <span class="input-group-addon" style="width:35px;">dB</span>
                                </span>
                            </div>
                            <span class="input-group input-group-sm col-xs-12">
                                <input id="si-iso1__capture-from" class="form-control input-sm" type="number" step="0.0001" placeholder="from"/>
                                <span class="input-group-addon fband">GHz</span>
                            </span>
                            <span class="input-group input-group-sm col-xs-12">
                                <input id="si-iso1__capture-to" class="form-control input-sm" type="number" step="0.0001" placeholder="to"/>
                                <span class="input-group-addon fband">GHz</span>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default setting-item-content" id="user-settings" style="display:none">
            <div class="panel-body">
                <form class="form">
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <div class="pull-left">
                                Frequency Setting:
                            </div>
                            <div class="fband-selection radio-selection pull-right">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn">
                                        <input type="radio" name="fband-options" id="kHz" autocomplete="off" value="kHz"> kHz
                                    </label>
                                    <label class="btn">
                                        <input type="radio" name="fband-options" id="MHz" autocomplete="off" value="MHz"> MHz
                                    </label>
                                    <label class="btn active">
                                        <input type="radio" name="fband-options" id="GHz" autocomplete="off" value="GHz" checked="checked"> GHz
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <div class="pull-left">
                                Chart Tooltip Display:
                            </div>
                            <div class="chart-tooltip-selection radio-selection pull-right">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn">
                                        <input type="radio" name="chart-tooltip" id="chart-tooltip-enabled" autocomplete="off" value="on"> On
                                    </label>
                                    <label class="btn active">
                                        <input type="radio" name="chart-tooltip" id="chart-tooltip-disabled" autocomplete="off" value="off" checked> Off
                                    </label>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <div>
                                <span class="pull-left">Error Threshold:</span>
                            </div>
                            <span class="input-group input-group-sm col-xs-8 pull-right">
                                <input id="error-threshold__value" class="form-control input-sm" type="number" step="0.001" value="0.001"/>
                            </span>
                            <div style="display:none"><input id="tmp-bug"/></div>
                        </div>
                    </div>
                </form>
            </div>   
        </div>
    </div>

    <div class="charts pull-left">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#splot" role="tab" data-toggle="tab">S Plot</a></li>
            <li class=""><a href="#topology" role="tab" data-toggle="tab">Topology</a></li>
            <li><a href="#golden-matrix" role="tab" data-toggle="tab">Golden Matrix</a></li>
            <li><a href="#extracted-matrix" role="tab" data-toggle="tab">Extracted Matrix</a></li>
            <li><a href="#errors" role="tab" data-toggle="tab">Errors</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content parent-tabs col-xs-12">
            <div class="tab-pane active" id="splot"></div>
            <div class="tab-pane" id="topology"></div>
            <div class="tab-pane" id="golden-matrix"></div>
            <div class="tab-pane" id="extracted-matrix"></div>
            <div class="tab-pane" id="errors">
                <div class="error-content">
                    <div class="col-xs-12" id="unloaded-q"></div>
                    
                    <div class="">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#error-matrix" role="tab" data-toggle="tab">Matrix Error</a></li>
                            <li class=""><a href="#error-chart" role="tab" data-toggle="tab">Error Chart</a></li>
                        </ul>

                        <div class="tab-content child-tabs">
                            <div class="tab-pane active" id="error-matrix"></div>
                            <div class="tab-pane" id="freq-errors"></div>
                            <div class="tab-pane" id="coupling-errors"></div>
                            <div class="tab-pane" id="io-zero-errors">
                                <div class="" style="float:left; margin-right:20px" id="io-errors"></div>
                                <div class="" style="float:left;" id="zero-errors"></div>
                            </div>
                            <div class="tab-pane" id="error-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-bar" style="display:none">
            <div class="file-input">
                <form id="form__file-upload--data" 
                        class="form" 
                        asp-action="UploadFiles" 
                        asp-controller="Matrix" 
                        method="post"
                        enctype="multipart/form-data"> 
                    <div class="pull-left">
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <span class="btn btn-primary btn-file">
                                            <span class="addon"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Data </span><input type="file" id="file--data">
                                        </span>
                                    </span>
                                    <input type="text" id="file--data-label" class="form-control" readonly>
                                    <span class="input-group-btn">
                                        <input id="btn--upload-file--data" type="button" disabled class="btn btn-disabled" style="width:70px;" value="Plot"/>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <span class="btn btn-primary btn-file">
                                            <span class="addon"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Matrix </span><input type="file" id="file--matrix">
                                        </span>
                                    </span>
                                    <input type="text" id="file--matrix-label" class="form-control" readonly>
                                    <span class="input-group-btn">
                                        <input id="btn--upload-file--matrix" type="button" disabled class="btn btn-disabled" style="width:70px;" value="Upload"/>
                                    </span>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </form>                
            </div>
            <div class="pull-left action-btn bottom-bar__item">
                <input id="btn--extract-matrix" type="button" class="btn btn-primary" value="Extract Matrix"/>
            </div>
            <div class="panel panel-default pull-left unloaded-q bottom-bar__item">
                <div class="panel-heading">
                    <h3 class="panel-title">Unloaded Qu:</h3>
                </div>
                <div>
                    <span class="input-group">
                        <input id='mi__unloaded-qu--input' class="form-control" type="number" disabled/>
                    </span>                                
                </div>            
            </div>
        </div>
    </div>
</div>