@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    123 Four Way<br />
    FiveCity, ON 67890-0000<br />
    <abbr title="Phone">P:</abbr>
    555.555.5555
</address>

<address>
    <strong>Info:</strong> <a href="mailto:info@matrixsynthesis.com">info@matrixsynthesis.com</a>
</address>
