@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/symss1b.png" alt="splot" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Easy to use interface.
                    <!--
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                    -->
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/symss2b.png" alt="splot" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Intelligent algorithms give you the correct information - fast.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/symss3b.png" alt="splot" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Custom topology supported.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/symss4b.png" alt="splot" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Online means anywhere, anytime.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/symss5b.png" alt="splot" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Please contact us for a free trial.
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row content-container">
    <div class="content">
        <h1>Easy to use interface.</h1>
        <p>
            This is why this will make filter creations faster.
        </p>
    </div>
    <div class="content">
        <h1>Powerful Intelligent Algorithms</h1>
        <p>
            Blah
        </p>
    </div>
    <div class="content">
        <h1>Custom Topology</h1>
        <p>
            
        </p>
    </div>
    <div class="content">
        <h1></h1>
        <p>
            Online access is all you need to help determine the right parameters.
        </p>
    </div>
    <div class="content">
        <h1>Free Trial</h1>
        <p>
            Please contact us for a free trial.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Matrix Synthesis</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How-To</h2>
        <ul>
            <li><a href="~/Home/Contact">Contact Us for details</a></li>
        </ul>
    </div>
</div>
