body {
    padding-top: 50px;
    min-width: 1090px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
div.body-content {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar .container {
    width: 100%;
}
.navbar-right {
    margin-right: 0;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none
    }

    .body-content {
        width: 900px;
    }
}

@media screen and (min-width: 768px) {
    .body-content {
        width: 900px;
    }
}

@media (min-width: 992px) {
    .body-content {
        width: 940px;
    }
}

@media (min-width: 1200px) {
    .body-content {
        width: 1150px;
    }
}

.header-bar {
    position: absolute; 
    left: 300px; 
    top: 19px;
    right: 0px;
    top: 19px;
    height: 34px;
}

.header-bar--component {
    float: left;
    margin-right: 20px;
}

header-bar--component .pull-right {
    float: right;
    margin-right: 10px;
}

/* Bootstrap overrides */
.form-group-sm .form-control {
    height: 25px;
    padding: 2px 5px;
    font-size: 14px;
}

.form-label {
    margin-bottom: 0px;
    font-weight: normal;
}

.input-group-sm .input-group-addon {
    height: 25px;
    padding: 3px 5px 0 5px;
    font-size: 12px;
}

.input-group-addon.column-form-addon {
    height: 30px;
    min-width:50px;
    display:block;
    border-right: 0;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;    
}

.input-group-addon.column-form-addon:not(:first-child):not(:last-child){
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;    
}

.form-control.input-sm.column-form-control {
    border-radius: 0;
}

.input-group-addon .fa-reorder {
    cursor: move;
}

/* radio add-on label */
.input-group--radio .form-control {
    padding: 5px 0;
}

.input-group--radio .form-control label {
    padding-left: 5px;
    font-weight: normal;
    width: 100%;
}

.tab-pane {
    overflow: scroll;
    height: 100%;
}

.fband-selection .btn input[type="radio"],
.chart-tooltip-selection .btn input[type="radio"] {
    position: relative;
    left: 0;
    top: -1px;
    margin: 0 4px 0 0;
} 

.fband-selection .btn {
    padding-right: 10px;
    padding-left: 10px;
}

.fband-selection .btn.active,
.chart-tooltip-selection .btn {
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
}

/* file input */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file .addon {
    display: inline-block; 
    width: 60px;
    text-align: left;    
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.sub-header {
    overflow: hidden;
    position: relative;
}

.footer {
    position: fixed;
    overflow: hidden;
    bottom: 0;
    right: 15px;
    left: 15px;
}

.footer p{
    margin: 5px 0;
    padding: 3px 0;
    border-top:solid 1px #CCC;    
}

/*  chart tabs  */
.charts .nav > li > a {
    padding: 8px 11px;
}


.carousel-caption {
    color: #333;
    text-shadow: 0 1px 2px rgba(51, 122, 183, .6)
}

.carousel-inner > .item > img {
    margin: auto;
}

.carousel-caption p {
    font-size: 40px;
    background: rgba(255,255,255, 0.65);
}

.carousel-control {
    color: #000;
    text-shadow: 0 1px 2px rgba(51, 122, 183, .6)    
}

.content-container {
    padding-top: 45px;
}

.content-container .content {
    padding-top: 25px;
    text-align: center;
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}



/*  Setting Items Menu */
.body-content .setting-items-container {
    width: 190px;
    padding-right: 0;
    padding-left: 15px;
}

.setting-items-container .panel {
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
}

.setting-items-container.active .panel {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
}

.setting-items-container .setting-item-menu {
    width: 173px;
}

.setting-items-container .setting-item-menu.active {
    background-color: #fff;
    border-radius: 0;
}

.body-content .forms {
    border-top-left-radius: 0;
    padding-left: 0;
    width: 240px;
}

.body-content .forms hr{
    margin-top: 5px;
    margin-bottom: 10px;
}

.body-content .forms .panel{
    border-top-left-radius: 0;
}

.body-content .forms .specification-input__title {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 2px;
}

.body-content .forms .input-group-addon.freq-label {
    width: 80px;
}


.body-content .bottom-bar {
    position: absolute;
    bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
}

.bottom-bar .bottom-bar__item {
    margin-left: 15px;
}

.bottom-bar .unloaded-q{
    margin-bottom: 0;
    width: 135px;
}

.bottom-bar .unloaded-q .panel-heading{
    padding-top: 15px;
    padding-bottom: 15px;
}

.bottom-bar .unloaded-q h3{
    margin: 0;
}

.bottom-bar .action-btn input{
    height: 83px;
}

.bottom-bar .file-input {
    padding-left: 0;
    padding-right: 0;
    width: 50%;
    max-width: 400px;
}

.bottom-bar #btn--extract-matrix{
    width: 125px;
}
   
/*  tab content */
.body-content .charts {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.body-content .tab-content {
    overflow: scroll;
}