.radio-selection,
.btn-selection {
    text-align: center;
}

.matrix-custom__container {
    margin: auto;
}

.golden-matrix__container {
    margin: auto;
}

.matrix__row--header,
.matrix__row {
    height: 30px;
    padding: 0;
    margin: 0;
}

.matrix__item--header,
.matrix__item {
    float: left;
    width: 60px;
    height: 30px;
    padding: 0px;
    margin: 0;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
}

.matrix__value {
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    border: 0;
    width: 98%;
    height: 98%;
    text-align: center;
}

.matrix__item input[type=number]::-webkit-inner-spin-button, 
.matrix__item input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.matrix__item.level-index--0 .matrix__value {
    background-color: #dadada;
}

.matrix__item.level-index--1 .matrix__value {
    background-color: #8BC34A;
}

.matrix__item.level-index--2 .matrix__value {
    background-color: #FF9800;
}

.matrix__item.level-index--x .matrix__value {
    background-color: #F44336;
}

.delta-matrix .matrix__item.valid .matrix__value {
    background-color: #5B934A;
}

.delta-matrix .matrix__item.error .matrix__value {
    background-color: #D13336;
}

.matrix__item--header {
    font-size: 20px;
    padding-top: 5px;
}

#golden-matrix.tab-pane {
    overflow: hidden;
}

.golden-matrix__matrix-container {
    width: 100%;
    overflow-x: auto;
    padding-bottom: 15px;
}

.matrix__matrix-container {
    overflow: scroll;
    padding-bottom: 10px;
}