#topology__ct-container{
    display: none;
}

#topology__matrix-container{
    padding-top: 15px;
    width: 100%;
    position: relative;
}

#matrix-topology-container svg {
    width: 100%;
    height: 250px;
}

.topology-msg {
    display:block;
    text-align: center; 
    margin-top: 50px;
    font-size: 16px;
    font-weight: bold;
}

.topology-custom__container {
    margin: auto;
}

.topology__table {
    border-collapse: collapse;
}

.topology__row--header,
.topology__row {
    height: 24px;
    padding: 0;
    margin: 0;
}

.topology__item--header,
.topology__item {
    width: 24px;
    padding: 0px;
    margin: 0;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

.topology__check-item {
    display: inline-block;
    width: 24px;
}